.profileScreen {
    height: 100vh;
    color: #ffff;
}

.profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 6%;
    margin-left: auto;
    margin-right: auto;
}

.profileScreen__info {
    display: flex;
}

.profileScreen__details {
    color: #fff;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__body>h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profileScreen__details>h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 2%;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.profileScreen__plans {
    margin-top: 20px;
}

.profileScreen__plans>h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.profileScreen__info>img {
    height: 100px;
}

.profileScreen__plans .subs {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 14px;
    color: rgb(168, 163, 163);
}

.profileScreen__plans .subs:hover {
    background-color: #14181a;
    color: #fff;
}

.profileScreen__plans .subs:hover button {
    background-color: #e50914;
    color: #fff;
}

.profileScreen__subscribe {
    padding: 3px 10px;
    font-size: 1rem;
    color: rgb(168, 163, 163);
    background-color: #b62229;
    border: none;
    cursor: pointer;
}